.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name pテキスト
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to "li", class: "" do
            <i class="fa fa-edit "></i>
        %li.side-header__box__menu__edit-user
          =link_to "li", class: "" do
            <i class="fa fa-cog "></i>
  .groups
    =link_to "", class: "" do
      .group
        %p.group__group-name

        -# @groupsのnameを取ってきましょう
        -# 注意:@groupsは配列なのでeachで回しましょう
        %p.group__latest-message